@import "base";

.modal {
  position: fixed !important;
  z-index: 1050 !important;
}

.fade {
  transition: opacity .1s linear;
}

.page-header, .page-header-title, .page-header-subtitle, .page-header-content {
  .top-page-tags {
    display: none;
  }

  /*display: none;*/
  visibility: hidden;
  height: 0;
  padding: 0;
}

.modal-content {
  border-top: 4px solid #6c0;
}

.btn-cancel {
  background-color: $slate-grey;
  border-color: $slate-grey;

  &:hover, &:focus {
    background-color: $slate-grey;
    border-color: $slate-grey;
  }
}

.site-footer {
  z-index: 1;
}

.modal-dialog {
  max-width: 800px;
}

.modal-subtitle {
  margin-bottom: 0;
}

.modal-form {
  padding: 1rem;
}

input[type=checkbox].gpnl-petition-checkbox {
  opacity: 1;
  margin-left: 0;
}

.gpnl-petition-checkbox-label {
  margin-bottom: 0;
}

.gpnl-petition-checkbox-label small {
  margin-left: 1.5rem;
}

.full-width-container {
  margin: 54px calc(calc(50% - 50vw) + 32px) 32px;
  @media screen and (min-width: $large-width) {
    margin: 54px calc(50% - 50vw) 32px;
  }
}

.slick-next::before, .slick-prev::before {
  color: $blood-orange;
}

.slick-dots li.slick-active button::before {
  color: $dark-green;
}

.educationcovers__card__p {
  width: 100%;
}
