@import "base";

.btn-primary.resetBtn {
  background-color: $slate-grey;
  border-color: $slate-grey;

  &:hover, &:focus {
    background-color: $slate-grey;
    border-color: $slate-grey;
  }
}

.page-template .educationrequest__button {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 54px;
  @media (min-width: 768px) {
    margin-top: 60px;
  }
}

.hero__title {
  margin-top: 60px;

  @media (min-width: 1480px) {
    margin-top: 0;
  }
}
